article p:first-of-type,.article-section p:last-of-type {
    color:red;
    font-size: 1.5em;
}

.article-section p:last-of-type{
    color: blue;
    font-size: 24px;   
}
#second-div {
    color: green !important;
    font-size: 1.2em;
}
.article-section p:nth-of-type(3){
    color: purple;
    font-size: 1.5em;
}
.article-section p:nth-of-type(4){
    color:orange !important;
    font-size: 1.5em;
}
a[target="_blank"]{
    color:brown;
    font-size: 1.5 em;
    text-decoration: none;

}
a[id="second-div"]{
    color: pink !important;
    font-size: 1.5em;
    text-decoration: none;
}

ul li::marker{
    color: red;
    font-size: 1.5em;
}

p::selection{
    background-color: yellow;
    color: black;
    text-decoration: wavy underline;
}