html,body{
    margin: 0;
    padding: 0;
}

:root{
    --progressbar-bg : lightgray;
    --start:red;
    --middle:blue;
    --end:green;

}

.container{
    width:80%;
    margin: 3em auto;
    

}

.progress-bar{
    height:1.5em;
    border-radius: 20px;
    background: lightgray;

}

.progress-status{
    width: 10%;
    background: red;
    animation: 6s linear showprogress infinite;
}

@keyframes showprogress{
    50%{
        width: 50%;
        background: blue;
    }
    75%{
        width: 100%;
        background: green;
    }

    100%{
        width: 100%;
        background: green;
    }
}