:root {
    --font-main: 'noto-sans',sans-serif;
    --bg-main:#131417;
    --bg-card:#1e1f26;
    --bg-stats:#161417;
    --username:#b7bbc8;
}

html,body{
    margin:0;
    padding:0;
    color: white;
    background:#131417;
    font-family:'noto-sans',sans-serif;
}
p,h3{
    margin:0;
    padding:0;

}
ul{
    padding-left: 0;;
}
ul li{
    list-style-type: none;
}

.card,img{
    border-radius: 10px;
}

.card{
    max-width: 300px;
    background: #1e1f26;
    margin: auto;
    padding: 1em;;
}

.card-thumbnail img{
    max-width: 100%;
    object-fit: cover;
}

.card-body{
    display: flex;

}

.card-avatar img {
    height: 50px;
    width: 50px;
    margin-right: 1em;
}
.card-details {
    line-height: 1.5;
}

.card-details h3{
    font-weight:900;
    font-size: 1rem;
}

.card-details p{
    font-size: .85rem;
    color:#b7bbc8;
}

.card-stats {
    display: none;
    padding-bottom:.5em ;
}
.card-stats li{
    background: #161417;
    padding: .25em .5em;
    margin-right: .5em;
    border-radius: 5px;;
}
.card:hover .card-stats{
    display: flex;

}
.card:hover{
    padding-bottom: 0;

}