html,body{
    margin: 0;
    padding: 0;
    background-color: white;
}

:root{
    --graph-bg:#000;
    --default-square-bg:#161b22;
    --level3:darkgreen;
    --level2:green;
    --level1:lightgreen;
}

ul {
    color: white;
    list-style-type: none;
}

.graph {
    display: grid;
    grid-template-columns: repeat(52,1fr);
    background: white;
    padding: 1em;
}
.square {
    height: 10px;
    width: 10px;
    background: #161b22;
    margin: 3px;
    margin-right: 0;
    border-radius: 2px;

}

[data-value="3"]{
    background: darkgreen;
}
[data-value="5"]{
    background: green;
}
[data-value="10"]{
    background:lightgreen;
}