html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    width: 300px;
    height: 200px;
    border: 2px solid #333;
    box-shadow: 0 4px 8 px rgba(0,0,0,2);
}

.strip1{
    width: 100%;
    height: 33.33%;
    background: #ff9933;
}
.strip2{
    width: 100%;
    height: 33.33%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.strip3{
    width: 100%;
    height: 33.33%;
    background: #138808;
}
.circle{
    width: 50px;
    height: 50px;
    border: 2px solid #000080;
    border-radius: 50%;
    position: relative;
    background: transparent;

}
.circle::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background-image: 
    linear-gradient(0deg , transparent 48% ,#000080 48%),
    linear-gradient(15deg , transparent 48% ,#000080 48%),
    linear-gradient(30deg , transparent 48% ,#000080 48%),
    linear-gradient(45deg , transparent 48% ,#000080 48%),
    linear-gradient(60deg , transparent 48% ,#000080 48%),
    linear-gradient(75deg , transparent 48% ,#000080 48%),
    linear-gradient(90deg , transparent 48% ,#000080 48%),
    linear-gradient(105deg , transparent 48% ,#000080 48%),
    linear-gradient(120deg , transparent 48% ,#000080 48%),
    linear-gradient(135deg , transparent 48% ,#000080 48%),
    linear-gradient(150deg , transparent 48% ,#000080 48%),
    linear-gradient(165deg , transparent 48% ,#000080 48%),
   
}

.circle::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background-image: 
    linear-gradient(0deg , transparent 48% ,#000080 48%),
    linear-gradient(15deg , transparent 48% ,#000080 48%),
    linear-gradient(30deg , transparent 48% ,#000080 48%),
    linear-gradient(45deg , transparent 48% ,#000080 48%),
    linear-gradient(60deg , transparent 48% ,#000080 48%),
    linear-gradient(75deg , transparent 48% ,#000080 48%),
    linear-gradient(90deg , transparent 48% ,#000080 48%),
    linear-gradient(105deg , transparent 48% ,#000080 48%),
    linear-gradient(120deg , transparent 48% ,#000080 48%),
    linear-gradient(135deg , transparent 48% ,#000080 48%),
    linear-gradient(150deg , transparent 48% ,#000080 48%),
    linear-gradient(165deg , transparent 48% ,#000080 48%),
   
}